.container{
    display: flex;
    border:  2px dashed black;
    width: 500px;
    margin: auto;
}
.box{
    box-sizing: border-box;
    background-color: #c3dbeb;
    border: 2px solid #608BA8;
    height: 100px;
   
}
.box1{
    flex-basis: 200px;
    flex-grow: 3;
    flex-shrink: 1;
}
.box2{
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 1;
}
.box3{
    flex-basis: 200px;
    flex-grow: 2;
    flex-shrink: 2;
}